backend/n8n/workflows/ShopAnalyticsVersionFinal.json
{
  "name": "ShopAnalyticsVersionFinal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "b4008e67-063c-4b91-b4a6-0031bf842dac",
      "name": "Déclencheur 6h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1216,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "await new Promise(r => setTimeout(r, 500));\nreturn [{\n  json: {\n    status: 'trained',\n    model_version: '1.0.0',\n    trained_at: new Date().toISOString(),\n    samples_used: 142\n  }\n}];"
      },
      "id": "8ea71286-7874-40b8-964b-791bc4d0b320",
      "name": "Réentraînement Modèle ML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        96
      ],
      "notes": "⚠️ MOCK — Remplacer par HTTP Request POST /api/train"
    },
    {
      "parameters": {
        "jsCode": "const predictions = $input.first().json.predictions;\n\n// Totaux par heure\nconst byHour = {};\nfor (const p of predictions) {\n  if (!byHour[p.hour]) byHour[p.hour] = 0;\n  byHour[p.hour] += p.total_visits;\n}\n\n// Heure de pointe\nconst heurePointe = Object.entries(byHour)\n  .sort((a, b) => b[1] - a[1])[0];\n\n// Total journalier\nconst totalJour = Object.values(byHour).reduce((a, b) => a + b, 0);\n\n// Profils détaillés (uniquement > 0, agrégés toutes caméras)\nconst profileCount = {};\nfor (const p of predictions) {\n  for (const prof of p.profile) {\n    if (prof.visits_predicted > 0) {\n      const key = `${prof.gender}_${prof.age}`;\n      profileCount[key] = (profileCount[key] || 0) + prof.visits_predicted;\n    }\n  }\n}\n\n// Trier par volume décroissant\nconst profilesSorted = Object.entries(profileCount)\n  .sort((a, b) => b[1] - a[1])\n  .map(([key, count]) => {\n    const [gender, age] = key.split('_');\n    return { gender, age, visits: count };\n  });\n\nconst profilDominant = profilesSorted[0] \n  ? `${profilesSorted[0].gender} ${profilesSorted[0].age}` \n  : 'N/A';\n\n// Détail par heure avec profils actifs\nconst detailParHeure = {};\nfor (const p of predictions) {\n  const h = p.hour;\n  if (!detailParHeure[h]) {\n    detailParHeure[h] = { total: 0, cameras: {}, profils_actifs: {} };\n  }\n  detailParHeure[h].total += p.total_visits;\n  \n  // Par caméra\n  detailParHeure[h].cameras[p.camera] = p.total_visits;\n  \n  // Profils actifs cette heure\n  for (const prof of p.profile) {\n    if (prof.visits_predicted > 0) {\n      const key = `${prof.gender} ${prof.age}`;\n      detailParHeure[h].profils_actifs[key] = \n        (detailParHeure[h].profils_actifs[key] || 0) + prof.visits_predicted;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    date: predictions[0]?.date || new Date().toISOString().split('T')[0],\n    visiteurs_prevus_total: totalJour,\n    heure_pointe: `${heurePointe[0]}h00`,\n    visiteurs_heure_pointe: heurePointe[1],\n    profil_dominant: profilDominant,\n    profils_par_volume: profilesSorted,\n    detail_par_heure: detailParHeure\n  }\n}];"
      },
      "id": "73a8c1cf-7258-4b33-ae88-8feb5838fa84",
      "name": "Prédiction Visiteurs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -80
      ],
      "notes": "⚠️ MOCK — Remplacer par HTTP Request POST /api/predict"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `Tu es l assistant analytique de ShopAnalytics pour Anavid Store 360. Voici les predictions de frequentation pour aujourd hui (${data.date}) : Visiteurs prevus : ${data.visiteurs_prevus_total}. Profil dominant : ${data.profil_dominant}. Heure de pointe : ${data.heure_pointe} avec ${data.visiteurs_heure_pointe} visiteurs. Profils actifs : ${data.profils_par_volume.map(p => `${p.gender} ${p.age}: ${p.visits}`).join(', ')}. Redige un message professionnel et concis de 4 a 5 phrases en francais a destination de l equipe du magasin. Mentionne le nombre de visiteurs, le profil dominant, l heure de pointe et donne 1 a 2 recommandations concretes sur la gestion du personnel ou des caisses.`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    prediction: data\n  }\n}];"
      },
      "id": "d1ed7eaa-766f-407e-8844-7b0f1d74cd0c",
      "name": "Préparer Prompt Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Préparer Prompt Ollama').item.json.prompt }}"
      },
      "id": "0024d0b9-bc06-489c-89c6-ec14babc5d92",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -320,
        96
      ]
    },
    {
      "parameters": {
        "model": "=llama3.2:3b-instruct-q4_K_M",
        "options": {
          "temperature": 0.1,
          "numCtx": 4096,
          "numPredict": 300
        }
      },
      "id": "b123c4ab-0ae5-4c2c-83b7-422276a5b417",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -240,
        320
      ],
      "credentials": {
        "ollamaApi": {
          "id": "vZOcvPZetHZTccJU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmText = $input.first().json.text?.trim();\nconst pred = $('Préparer Prompt Ollama').first().json.prediction;\n\nconst total = pred.visiteurs_prevus_total;\nlet niveau_affluence;\nif (total < 50)       niveau_affluence = \"Faible\";\nelse if (total < 150) niveau_affluence = \"Modéré\";\nelse if (total < 350) niveau_affluence = \"Élevé\";\nelse                  niveau_affluence = \"Très élevé\";\n\nreturn [{\n  json: {\n    type: 'llm_report',\n    date: pred.date,\n    generated_at: new Date().toISOString(),\n    message: llmText,\n    prediction: {\n      visiteurs_prevus:       pred.visiteurs_prevus_total,\n      profil_dominant:        pred.profil_dominant,\n      niveau_affluence:       niveau_affluence,\n      heure_pointe:           pred.heure_pointe,\n      visiteurs_heure_pointe: pred.visiteurs_heure_pointe,\n      profils_par_volume:     pred.profils_par_volume,\n      detail_par_heure:       pred.detail_par_heure\n    }\n  }\n}];"
      },
      "id": "1d1f2772-db64-440f-a319-b51264df5bf8",
      "name": "Formater Payload SSE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        96
      ],
      "notes": "Formate exactement le PredictionData attendu par Dashboard.tsx et Django SSE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://shopanalytics-django-api:8000/api/daily-report/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "5e09757b-8170-4707-b08c-c0683148258e",
      "name": "Push SSE → Django",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -96
      ],
      "notes": "POST /api/daily-report/ → Django notifie tous les clients SSE connectés (Dashboard + ChatIA)"
    },
    {
      "parameters": {
        "jsCode": "// Appel HTTP via $http natif de N8N (fetch et http sont bloqués)\nconst llmText = $input.first().json.text?.trim();\nconst prediction = $('Préparer Prompt Ollama').first().json.prediction;\n\nlet chatAnswer = llmText;\n\ntry {\n  const response = await $http.request({\n    method: 'POST',\n    url: 'http://django_api:8000/api/chat/',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      question: `Rapport quotidien automatique du ${prediction.date_prevision} : ${llmText}`\n    },\n    json: true\n  });\n  chatAnswer = response.answer || llmText;\n} catch (err) {\n  console.log('Django indisponible, fallback LLM : ' + err.message);\n}\n\nconst notification = {\n  id: Date.now(),\n  date: prediction.date_prevision,\n  generated_at: new Date().toISOString(),\n  visiteurs_prevus: prediction.visiteurs_prevus,\n  profil_dominant: prediction.profil_dominant,\n  niveau_affluence: prediction.niveau_affluence,\n  heure_pointe: `${prediction.heure_pointe_debut} - ${prediction.heure_pointe_fin}`,\n  message: chatAnswer,\n  model: 'llama3.2:3b-instruct-q4_K_M',\n  type: 'daily_report'\n};\n\nreturn [{ json: notification }];"
      },
      "id": "2b6d5730-4b89-4102-ba8d-24a722196e8f",
      "name": "Envoyer au Chatbot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        288
      ],
      "notes": "Envoie le message LLM au RAG Django → chatbot Ionic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://shopanalytics-django-api:8000/api/send-fcm/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{\n{\n  title: \"📊 Rapport Quotidien - \" + $json.date,\n  body: $json.message,\n  data: {\n    type: $json.type,\n    date: $json.date,\n    visiteurs_prevus: $json.prediction.visiteurs_prevus,\n    profil_dominant: $json.prediction.profil_dominant,\n    niveau_affluence: $json.prediction.niveau_affluence,\n    heure_pointe: $json.prediction.heure_pointe\n  }\n}\n}}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        96
      ],
      "id": "27ba821d-e4f6-4aef-b93a-9ad8fa3b1d2d",
      "name": "Envoyer FCM"
    },
    {
      "parameters": {
        "url": "http://shopanalytics-visitor-ml-api:8000/predict",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -816,
        96
      ],
      "id": "354ddee9-5497-4e8a-b886-95217109596a",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Déclencheur 6h00": {
      "main": [
        [
          {
            "node": "Réentraînement Modèle ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Réentraînement Modèle ML": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prédiction Visiteurs": {
      "main": [
        [
          {
            "node": "Préparer Prompt Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Prompt Ollama": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Formater Payload SSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Payload SSE": {
      "main": [
        [
          {
            "node": "Envoyer au Chatbot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envoyer FCM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push SSE → Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Prédiction Visiteurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a18cea7a-4900-4bf3-8377-a714e624828f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bffac4ed8f8f27dc33cc3413f952fba2cb05d6b002e656f4438ce95a1d599fd"
  },
  "nodeGroups": [],
  "id": "6EAM19sfBfcCdUi3",
  "tags": [
    {
      "updatedAt": "2026-06-18T04:38:29.117Z",
      "createdAt": "2026-06-18T04:38:29.117Z",
      "id": "GrQDUgMLZRg0uq7o",
      "name": "Sprint1"
    },
    {
      "updatedAt": "2026-06-18T04:38:29.155Z",
      "createdAt": "2026-06-18T04:38:29.155Z",
      "id": "ITxZBeIhSZl9nbKf",
      "name": "ShopAnalytics"
    }
  ]
}